((=- Default to the notebook output style -=))
((*- if not cell_style is defined -*))
    ((* set cell_style = 'style_jupyter.tex.j2' *))
((*- endif -*))

((=- Inherit from the specified cell style. -=))
((* extends cell_style *))


%===============================================================================
% Latex Article
%===============================================================================

((* block packages *))
((( super() ))) % load all other packages
% For cyrillic symbols
    \usepackage[utf8]{inputenc}
    \usepackage[english, russian]{babel}
((* endblock packages *))

((* block docclass *))
\documentclass{article}
((* endblock docclass *))

((* block title -*))
    \date{}
    \title{Отчет}
((*- endblock title *))

((* block margins *))
    \geometry{verbose,tmargin=1in,bmargin=1in,lmargin=1.5cm,rmargin=1cm}
    ((* endblock margins *))
